<div class="layout-column layout-align-center-center">
    {{#if infinityModel.reachedInfinity}}
	  <!-- <button>{{loadedText}}</button> -->
	{{else}}
		{{#paper-button raised=true primary=true}}{{loadText}}{{/paper-button}}
	{{/if}}
</div>
