{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#paper-button action=(transition-to '/')}}{{paper-icon 'home'}}Home{{/paper-button}}
    {{#paper-button action=(transition-to 'dashboard')}}Get Started{{/paper-button}}
    {{#paper-button action=(transition-to 'dashboard')}}My Courses{{/paper-button}}

    <div class="paper-right">
      {{paper-icon 'person'}}
      {{#if session.isAuthenticated}}
        {{#paper-button action='invalidateSession'}}Logout{{/paper-button}}
      {{else}}
        {{#paper-button action=(transition-to 'login')}}Login{{/paper-button}}
        {{#paper-button action=(transition-to 'register')}}Register{{/paper-button}}
      {{/if}}
    </div>
  </div>
{{/paper-toolbar}}